.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;

  /* first child flex: 1 */
  > :first-child {
    min-width: fit-content;
  }

  /* second child flex: 2 */
  > :nth-child(2) {
    flex: 1 1 80vw;
  }

  h1,
  h2 {
    margin-top: 0;
    line-height: 0.8;
  }
}
