.sidebar {
  width: 400px;
  height: 40vw;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(128, 74, 74, 1),
    0 2px 4px -1px rgba(181, 12, 12, 1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sidebarContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.active {
  color: #333;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 1rem;
}
