.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  padding: 2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 10px 0 rgba(0.6, 0.6, 0.6, 0.6);
}

.footerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.socialMediaIcons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footerText {
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    gap: 0.5rem;
  }
  .socialMediaIcons {
    flex-direction: row;
    gap: 1rem;
  }
}
