:modal {
  background-color: rgb(198, 39, 22);
  border: 2px solid var(--quaternary-color);
  border-radius: 25px;
  padding: 20px;
  width: clamp(300px, 90%, 800px);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
